body{
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    padding-bottom: 65px;
}
#productList>li{
    display: flex;
}
#productList>li>div>img{
    width: 180px;
    height: 180px;
}
#SelectedList{
    width: calc(100% - 20px);
    height: 200px;
    background-color: rgb(247, 189, 114);
    transition: all;
    transition-duration: 100ms;
    font-family: "Hahmlet", serif;
    bottom: 0; 
    position: fixed;
    left : 0;
    box-shadow : 0 -4px 8px rgba(0, 0, 0, 0.1);
    padding:10px;
    border-radius: 10px 10px 0 0;
    user-select: none;
}
.resize{
    transform: translateY(calc(100% - 55px));
    width: fit-content!important;
}

table{
    font-family: "Hahmlet", serif;
    border-collapse: collapse;
    text-align: center;
}
h4{margin: 10px; margin-left: 0;}
#resultTable{
    font-family: "Hahmlet", serif;
    background-color: bisque;
    width: 100%;
    padding: 25px;
    padding-right:-100px;
    text-align: center;
    user-select: none;
}
#resultTable>tfoot{
    text-align: right;
}
#resultTable>thead>tr>th{
    border-bottom: 0.5px solid black;
}
h2>button{
    background: wheat; 
    width: 180px;
    height: 30px;
    font-family: "Jua", sans-serif;
    font-size: 20px;
}
h2>button:hover{
    background: darkred;
    color:wheat;
    cursor: pointer;
}
#addBtn{
    background-color: aqua;
    border: 2px solid green;
    color:black;
    width:60px;
    height: 30px;
    border-radius: 4px;
    user-select: none;
}
#addBtn:hover{
    background-color: brown;
    color:white;
    cursor: pointer;
}
#qtyInput{
    width: 60px;
    height: 25px;
    font-size: 18px;
    border: 2px solid gold;
    border-radius: 4px;
}
h1{
    min-width: max-content;
    width: 100%;
    font-family: "Jua", sans-serif;  
    font-size: 60px;
    height: 60px;
    text-align: center;
    color:rgb(197, 170, 15);
    user-select: none;
}
h1>span{
    background-color: aquamarine;
    font-weight: 500;
    color:rgb(226, 43, 128);
    border-radius: 10px;
   
}
h2{
    min-width: max-content;
    width:calc(100% - 10px) ;
    background-color: brown;
    font-size: 30px;
    height: 50px;
    color:beige;
    border: 5px solid #ccc;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    user-select: none;
    font-family: "Jua", sans-serif;
    font-weight: 100;
}
#printBasketsBtn{
    font-family: "Hahmlet", serif;
    border: 3px solid silver;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    background-color: gold;
    cursor: pointer;
}
#printBasketsBtn:hover{
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}
#moveSelectedList{
    font-family: "Hahmlet", serif;
    height: 30px;
    width: 60px;
    border: 1px solid brown;
    background-color: black;
    color: white;
    border-radius: 5px;
    user-select: none;
}
#moveSelectedList:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
#alcoholProductListContainer,
#ingredientProductListContainer,
#instantProductListContainer {
    font-family: "Gowun Dodum", sans-serif;
    user-select: none;
}
.delBasket{
    width: 80px;
    height: 25px;
    border: none;
    background-color: beige;
    color: brown;
    border-radius: 5px;
    border: 3px solid gold;
}
.delBasket:hover{
    background-color: brown;
    color: beige;
    cursor: pointer;
}